<h1>Usuario Seleccionado</h1>
<ul>
    <li><strong>Nombre:</strong> {{nombre}}</li>
    <li><strong>Apellido:</strong> {{apellido}}</li>
    <li><strong>Edad:</strong> {{edad}}</li>
    <li><strong>Correo:</strong> {{correo}}</li>
    <li><strong>Teléfono:</strong> {{telefono}}</li>
</ul>
